version: "3.9"

services:

  go-dev:
    build:
      context: ./go
    container_name: go-dev
    volumes:
      - ./workspace:/workspace
      - go-mod-cache:/go/pkg/mod
    ports:
      - "8080:8080"
    stdin_open: true
    tty: true

  rust-dev:
    build:
      context: ./rust
    container_name: rust-dev
    volumes:
      - ./workspace:/workspace
      - cargo-cache:/root/.cargo
      - rust-target-cache:/workspace/target
    ports:
      - "8081:8081"
    stdin_open: true
    tty: true

volumes:
  cargo-cache:
  rust-target-cache:
  go-mod-cache: